@{
    ViewBag.Title = "General";
}

<h2 style="
        text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #333, 0 0 20px #333, 0 0 30px #333, 0 0 40px #444, 0 0 50px #444, 0 0 75px #444;
        letter-spacing: 5px;
        font: 80px 'MisoRegular';">
        Sorry, Error on site, please try again
 </h2>
