@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "PageNotFound";
}

    <h2 style="
        color: #fEE;
        text-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 15px #f00, 0 0 20px #ff1111, 0 0 30px #ff1111, 0 0 40px #ff1111, 0 0 50px #ff1111, 0 0 75px #ff1111;
        letter-spacing: 5px;
        font: 80px 'MisoRegular';">
        Page Not Found
    </h2>
