<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/links_style.js")" type="text/javascript"></script>
    
    <link href="@Url.Content("~/Content/Admin.css")" rel ="stylesheet" type="text/css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
