
@{
    ViewBag.Title = "_ErrorLayout";
}
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <table style="margin-left: auto; margin-right: auto;">
        <tr>
        <td>
            @RenderBody()
        <td>
        </td>
    </table>
    


