@using Store.Resourses.Views.Shared;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        @SharedStrings.error_request_message.
    </h2>
</body>
</html>