@model IEnumerable<string>

@{
    ViewBag.Title = "SearchProduct";  
}
@{
        
    if(Model != null || Model.Count() == 0)
    {
      foreach(var res in Model)
      {
            <h2>
                @res
            </h2>
        }
    }
    else
    {
        <h2>
            No results
        </h2>
    }
}

